* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
}

.wrapper {
  box-shadow: 5px 5px 5px 5px lightblue;
  width: 100%;
}

.header_form {
  background-color: blue;
  color: white;
  width: 100%;
  height: 150px;
  /* text-align: center; */
  /* padding-top: 60px; */
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_main {
  display: flex;
  flex-direction: column;
}

.form_main div {
  padding: 5px;
}

/* .form_main div:hover input {
  color: blue;
} */

/* .form_main div:hover label,
input {
  color: blue;
} */

.form_main input:hover {
  color: blue;
}

.form_main label:hover {
  color: blue;
}

/* .form_main div:hover::placeholder {
  color: blue;
} */

label {
  color: grey;
}

input {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 4px;
  width: 120px;
  height: 30px;
  background-color: blue;
  padding: 5px;
  color: white;
  border: none;
}

.checkbox {
  width: auto;
}

input[type="radio"] {
  width: auto;
}
